@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
@import "fontawesome";
@import "solid";
@import "brands";

/* Color Theme Swatches in Hex */
$Social-engine-1-hex: #732c3f;
$Social-engine-2-hex: #8c3063;
$Social-engine-3-hex: #731f65;
$Social-engine-4-hex: #8c1f85;
$Social-engine-5-hex: #0d0d0d;

/* Color Theme Swatches in RGBA */
$Social-engine-1-rgba: rgba(115, 44, 63, 1);
$Social-engine-2-rgba: rgba(140, 48, 99, 1);
$Social-engine-3-rgba: rgba(115, 31, 101, 1);
$Social-engine-4-rgba: rgba(140, 31, 133, 1);
$Social-engine-5-rgba: rgba(13, 13, 13, 1);

/* Color Theme Swatches in HSLA */
$Social-engine-1-hsla: hsla(343, 44, 31, 1);
$Social-engine-2-hsla: hsla(326, 48, 36, 1);
$Social-engine-3-hsla: hsla(310, 57, 28, 1);
$Social-engine-4-hsla: hsla(303, 63, 33, 1);
$Social-engine-5-hsla: hsla(0, 0, 5, 1);

$light-color: #f4f4f4;
$dark-color: #181818;
$danger-color: red;
$success-color: green;
$warning-color: orange;

$max-width: 1100px;

// Reset browser params
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "TitilliumWeb", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: $light-color;
}

.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type="submit"],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.profiles2 {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

i {
  padding: 0 0.5rem 0 0;
}

// Set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #333;
  } @else {
    @return white;
  }
}

// Set background & text colors
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// Margin & Padding
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  // all around margin
  .m-#{$space} {
    margin: #{$space}rem;
  }

  //  Vertical margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  // all around padding
  .p-#{$space} {
    padding: #{$space}rem;
  }

  //  Vertical padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}

// Transition effect
@mixin easeOut {
  transition: all 0.5s ease-out;
}

// Media query mixin
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
